# Created by .ignore support plugin (hsz.mobi)
*.pyc
.idea/**
.idea/*
experiments/*
rsquarelabs_code.egg-info/*
rsquarelabs_core.egg-info

.idea/dictionaries/rrmerugu.xml

build/
dist/

bin/
include/
lib/
.Python
pip-selfcheck.json
sbin/r2_gromacs.json
r2_gromacs.json
r2_gromacs.log
something.log
